body {
    display: flex;
}

#calculator {
    border-style: solid;
    padding: 50px;
    margin-left: 550px;
    margin-top: 120px;
    background-color: rgb(243, 57, 88);
}

.plusButton, .minusButton, .multiplicationButton, .divisionButton {
    width: 30px;
    margin-top: 80px;
    background-color: rgb(243, 243, 83);
}

.oneButton, .twoButton, .threeButton, .fourButton, .fiveButton, .sixButton, 
.sevenButton, .eightButton, .nineButton  {
    width: 42px;
    background-color: rgb(101, 101, 235);
}

.zeroButton, .equalButton, .clearButton {
    width: 42px;
    background-color: rgb(207, 58, 207);
}