*{
    padding: 0;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
 }
 body{
    display: grid;
    height: 100vh;
    place-items: center;
 }
 .main{
    width: 300px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border: 3px solid black;
    border-radius: 5px; 
 }
 .main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 3px solid black;
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: black;
 }
 .oneButton, .twoButton, .threeButton, .fourButton, .fiveButton, .sixButton, .sevenButton,
 .eightButton, .nineButton, .zeroButton, .clearButton, .equalsButton {
    width:70px;
    padding: 2px;
    margin: 2px 0px;
    margin-left:14px;
    position: relative;
    left: 13px;
    top: 25px;
    height: 50px;
    font-size: 20px;
    background-color: #eb3e94;
    border-radius: 6px;
    color: white;
 }

 .plusButton, .minusButton, .multiplicationButton, .divisionButton {
    width: 60px;
    margin-top: 20px;
    justify-content: space-evenly;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 24px;
    top: 20px;
    height: 40px;
    font-size: 20px;
    background-color: #eb3e94;
    border-radius: 6px;
    color: white;
 }